/* CUSTOM STYLES */
html, body {
    margin: 0;
	padding: 0;
	font-family: 'Exo', sans-serif;
}

.video-bgr {
	height: 813px;
	background-color: aqua;
}
.standart-width {
	max-width: 1170px;
	margin: auto;
}

.main-block-design {
	min-height: 700px;
	max-width: 570px;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	padding-right: 40%;
}

.capture-name-block {
	color: #ff6d6d;
	font-size: 16px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.capture-h1 {
	color: #282828;
	font-size: 40px;
	line-height: 50px;
	margin-bottom: 50px;
	text-align: center;
}

.capture-h3 {
	color: #282828;
	font-size: 22px;
	margin-bottom: 20px;
	text-align: center;
}

.dotted-after-content::after {
	color: #ff6d6d;
	content: '....';
	margin-left: 15px;
}

.main-block-text {
	color: #282828;
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 40px;
	text-align: center;
}

.after-block-styled {
	position: relative;
}
.after-block-styled::after {
	content: "";
	position: absolute;
	height: 100%;
	width: 40%;
	top:0;
	right: 0;
	background:linear-gradient(130deg, #ededed 50%, #fb8d8c 50%);
}

.aligh-left {
	text-align: left;
}

.features-block {
	background: url(/images/feature-bg-cup.png) no-repeat 85% 100%,       
				url(/images/feature-bg-pen-holder.png) no-repeat 20% 0%,       
				url(/images/feature-bg-earphones.png) no-repeat 85% 0%;
	background-color: #f6f5f3;
} 

.container-feature-info {
	display: flex;
	flex-direction: column;
	padding: 140px 0;
	align-items: center;
}

.container-feature-items {
	display: flex;
	flex-direction: row;
	margin-top: 40px;	
	justify-content: center;
}

.feature-item {
	display: flex;
	flex-direction: column;
	max-width: 365px;
	margin: 0 8px;
	align-items: center;
}

.feature-item-img {
	border-radius: 50%;
	width: 65px;
	height: 65px;
	margin-bottom: 30px;
}

.feature-item-img-photos {
	background-image: url(/images/feature-photos.png);
}

.feature-item-img-fly {
	background-image: url(/images/feature-fly.png);
}

.feature-item-img-lamp {
	background-image: url(/images/feature-lamp.png);
}

.designe-block {
	min-height: 550px;
	background: linear-gradient(45deg, #ff8a8a 35%,  #ffffff 0%);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.designe-block-item {
	max-width: 520px;
}

.laptop-block {
	height: 359px;
	width: 612px;
	background-image: url(/images/laptop.png)
}

.wrapper-client-about {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.client-about-item {
	display: flex;
	flex-direction: column;
	max-width: 360px;
	margin: 0 15px;
	align-items: center;
}

.photo-client {
	width: 76px;
	height: 76px;
	border: 2px solid #1d1e24;
	border-radius: 1px;
}



@media screen and (max-width: 1200px) {

}
	
@media screen and (max-width: 979px) {

}
	
@media screen and (max-width: 649px) {
	.features-block {
		background: #f6f5f3;
	} 
	.container-feature-items {
		flex-direction: column;
	}
	
}
	
@media screen and (max-width: 479px) {

}
	