/* CUSTOM STYLES */
html, body {
    margin: 0;
	padding: 0;
	font-family: 'Exo', sans-serif;
}

.video-bgr {
	height: 800px;
	background-image: url(../images/header-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
	display: flex;
}

.wrapper-welcom-block {
	display: flex;
	flex-direction: column;
	max-width: 750px;
	justify-content: center;
	margin: auto;
	text-align: center;
	align-items: center;
}

.main-capture {
	font-size: 60px;
	line-height: 75px;
	color: #282828;
	font-weight: 100;
}

.play-button {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #8286a3;
	background-image: url(../images/play-arrow.png);
	background-repeat: no-repeat;
	background-position: center;
	margin: 40px 0;
	cursor: pointer;
}

.play-button:hover {
	background-color: #ff6d6d;
}

.extra-margin-buttom {
	margin-bottom: 18px;
}

.bg-block-styled {
	min-height: 700px;
	background:	linear-gradient(-40deg, #ff8a8a 30%,  #ececec 0%);
}

.block-about-platform {
	padding: 0 150px;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	margin-right: 40%;
	min-height: 700px;
	justify-content: center;
}

.capture-name-block {
	color: #ff6d6d;
	font-size: 16px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.capture-h1 {
	color: #282828;
	font-size: 40px;
	line-height: 50px;
	margin-bottom: 50px;
	text-align: center;
}

.capture-h3 {
	color: #282828;
	font-size: 22px;
	margin-bottom: 20px;
	text-align: center;
}

.dotted-after-content::after {
	color: #ff6d6d;
	content: '....';
	margin-left: 15px;
}

.main-block-text {
	color: #282828;
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 40px;
	text-align: center;
}

.aligh-left {
	text-align: left;
}

.features-block {
	background: url(../images/feature-bg-cup.png) no-repeat 85% 100%,       
				url(../images/feature-bg-pen-holder.png) no-repeat 20% 0%,       
				url(../images/feature-bg-earphones.png) no-repeat 85% 0%;
	background-color: #f6f5f3;
} 

.container-feature-info {
	display: flex;
	flex-direction: column;
	padding: 140px 0;
	align-items: center;
}

.container-feature-items {
	display: flex;
	flex-direction: row;
	margin-top: 40px;	
	justify-content: center;
}

.feature-item {
	display: flex;
	flex-direction: column;
	max-width: 365px;
	margin: 0 8px;
	align-items: center;
}

.feature-item-img {
	border-radius: 50%;
	width: 65px;
	height: 65px;
	margin-bottom: 30px;
}

.feature-item-img-photos {
	background-image: url(../images/feature-photos.png);
}

.feature-item-img-fly {
	background-image: url(../images/feature-fly.png);
}

.feature-item-img-lamp {
	background-image: url(../images/feature-lamp.png);
}

.designe-block {
	min-height: 550px;
	background: linear-gradient(45deg, #ff8a8a 35%,  #ffffff 0%);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.designe-block-item {
	max-width: 520px;
	margin: 0 30px;
}

.laptop-block {
	height: 359px;
	width: 612px;
	background-image: url(../images/laptop.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.client-info {
	background-image: url(../images/bg-client-info.jpg);
	background-repeat: repeat-y;
}

.wrapper-client-about {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 100px;
	padding-bottom: 50px;
}

.client-about-item {
	display: flex;
	flex-direction: column;
	max-width: 350px;
	margin: 0 15px;
	align-items: center;
	text-align: center;
}

.photo-client {
	width: 76px;
	height: 76px;
	border: 2px solid #1d1e24;
	border-radius: 1px;
}

.client-name {
	color: #ffffff;
	font-size: 22px;
	letter-spacing: 0.04em;
	line-height: 50px;
}

.client-status {
	color: #ff6d6d;
	font-size: 16px;
	margin-bottom: 25px;
}

.client-quote {
	color: #ffffff;
	font-size: 16px;
	font-style: italic;
	line-height: 26px;
}

.sponsor-links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 50px;
	max-width: 975px;
	margin: auto;
}

.sponsor-links-img {
	margin: auto;
}

.awesome-features-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 100px;	
	background-color: #f6f5f3;
}

.container-awesome-feature-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 660px;
}

.brouser-img {
	width: 792px;
	height: 359px;
	margin-top: 70px;
}

.alt-color-text {
	color: #ffffff;
} 

.form-block {
	background-color: #323969;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 90px 0;
}

.form-capture {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-fields {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 50px auto;
	max-width: 1133px;	
}

.form-field-input {
	width: 260px;
	height: 50px;
	padding-left: 30px;
	color: #f6f5f3;
	font-size: 16px;
	text-transform: uppercase;
	background-color: #474d78;
	border: 1px solid #999cb4;
	border-radius: 1px;
	box-sizing: border-box;
	margin-right: 30px;
}

.form-field-submit, .form-field-submit-start {
	width: 260px;
	height: 50px;
	text-align: center;
	color: #f6f5f3;
	font-size: 16px;
	text-transform: uppercase;
	background-color: #ff6d6d;
	border-radius: 1px;
	border: none;
	cursor: pointer;
	box-sizing: border-box;
	position: relative;
}

.after-arrow {
	position: relative;
}

.after-arrow::after {
    position: absolute;
    right: -25px;
    top:-60px;
    background-image: url(../images/arrow.png);
    content: '30 days free trial for all.';
    color: #f6f5f3;
	font-size: 16px;
	background-repeat: no-repeat;
	padding-left: 20px;
	width: 260px;
	height: 50px;
}

.form-field-submit:hover, .form-field-submit-start:hover {
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.alt-color-text-grey {
	color: #f6f5f3;
} 

.margin-null {
	margin: 0;
}

.contact-block-wrapper {
	display: flex;
	background: linear-gradient(-135deg, #ff8a8a 20%,  #ffffff 0%);
}

.contact-block {
	display: flex;
	margin: auto;
	justify-content: flex-start;
	padding: 90px 0;
}

.contact-block-item {
	display: flex;
	flex-direction: column;
}

.contact-block-item-menu>li>a {
	text-decoration: none;
}

.contact-block-addr {
	max-width: 225px;
	margin-right: 70px;
}

.contact-block-item-capture, .contact-block-item-capture>a {
	color: #282828;
	font-size: 22px;
	margin-bottom: 10px;
}

.logo-after {
	position: relative;;
}

.logo-after::after {
	position: absolute;
	background-image: url(../images/pink-arrow.png);
	background-repeat: no-repeat;
	content: 'Ex';
	color: #ffffff;
	padding-left: 3px;
	padding-top: 11px;
	font-weight: bold;
	height: 47px;
	width: 42px;
	top: -10px;
}




.contact-block-item-text, .contact-block-item-text>a {
	color: #9e9e9e;
	font-size: 14px;
	line-height: 26px;
	text-decoration: none;
}

.contact-block-input-wrap {
	display: flex;
	position: relative;
}
.contact-block-input {
	width: 265px;
	height: 45px;
	padding-left: 30px;
	color: #999cb4;
	font-size: 16px;
	text-transform: uppercase;
	background-color: #f6f6f6;
	border: 1px solid #999cb4;
	border-radius: 1px;
	box-sizing: border-box;
	padding-right: 50px;
}
.contact-block-submit {
	width: 50px;
	height: 45px;
	background-color: #ff6d6d;
	position: absolute;
	right: 0;
	border: none;
	cursor: pointer;
	border-radius: 1px;
	background-image: url(../images/telegram-icon.png);
	background-repeat: no-repeat;
	background-position: center;
}

.contact-block-submit:hover {
	box-shadow: 0px 3px 1px rgba(0,0,0,0.3);
}

.wrapper-social-icon {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 15px;
}

.custom-social-icon-dribbble, .custom-social-icon-facebook,  .custom-social-icon-google,  .custom-social-icon-twitter {
	color: #cbcbcb;
	font-size: 24px;
	margin: 0 15px;
	cursor: pointer;
}

.custom-social-icon-dribbble:hover {
	color: #f4bbce;
	}
.custom-social-icon-facebook:hover {
	color: #b3c0db;
	} 
.custom-social-icon-google:hover {
		color: #f6c8bf;
	}  
.custom-social-icon-twitter:hover {
		color: #b8eafc;
	}

.wrapper-menu-part-block {
	display: flex;
	justify-content: space-between;
	width: 650px;
}

@media screen and (max-width: 1200px) {
	.form-fields {
		flex-direction: column;
	}

	.form-field-input {
		margin-right: 0;
		margin-bottom: 15px;
	}

	.block-about-platform {
		padding: 0 30px;
		margin: auto;
	}

	.after-arrow::after {
		display: none;
	}

}
	
@media screen and (max-width: 979px) {
	.laptop-block {
		display: none;
	} 

	.designe-block {
		background: #ffffff;
	}

	.brouser-img {
		display: none;
	} 

	.sponsor-links {
		display: none;
	}

	.media-hidden {
		display: none;
	} 

	.wrapper-menu-part-block {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	.contact-block {
		width: calc(100% - 60px);
	}
	.contact-block-addr {
		margin: auto;
		width: 100%;
	}

}
	
@media screen and (max-width: 649px) {
	.features-block {
		background: #f6f5f3;
	} 
	.container-feature-items {
		flex-direction: column;
	}
	
	.wrapper-client-about {
		flex-direction: column;
		align-items: center;
	}

	.form-fields {
		width: calc(100% - 100px);
	}
	.form-field-input, .form-field-submit, .after-arrow {
		width: 100%;
	} 

	.play-button {
		display: none;
	}
	.wrapper-welcom-block {
		margin: 0 30px;
	}
}
	
@media screen and (max-width: 479px) {

}
	