/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CUSTOM STYLES */
html, body {
    margin: 0;
	padding: 0;
	font-family: 'Exo', sans-serif;
}

.video-bgr {
	height: 813px;
	background-color: aqua;
}
.standart-width {
	max-width: 1170px;
	margin: auto;
}

.main-block-design {
	min-height: 700px;
	max-width: 570px;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	padding-right: 40%;
}

.capture-name-block {
	color: #ff6d6d;
	font-size: 16px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.capture-h1 {
	color: #282828;
	font-size: 40px;
	line-height: 50px;
	margin-bottom: 50px;
}

.capture-h3 {
	color: #282828;
	font-size: 22px;
	line-height: 50px;
	margin-bottom: 50px;
}

.dotted-after-content::after {
	color: #ff6d6d;
	content: '....';
	margin-left: 15px;
}

.main-block-text {
	color: #282828;
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 40px;
	text-align: center;
}

.after-block-styled {
	position: relative;
}
.after-block-styled::after {
	content: "";
	position: absolute;
	height: 100%;
	width: 40%;
	top:0;
	right: 0;
	background:linear-gradient(130deg, #ededed 50%, #fb8d8c 50%);
}

.aligh-left {
	text-align: left;
}

.features-block {
	display: flex;
	flex-direction: column;
	background-color: #f6f5f3;
	min-height: 675px;
}

.container-feature-items {
	display: flex;
	flex-direction: row;	
}

.feature-item {
	display: flex;
	flex-direction: column;
	max-width: 365px;
	margin: 0 8px;
	align-items: center;
}

.feature-item-img {
	border-radius: 50%;
	width: 65px;
	height: 65px;
}

.feature-item-img-photos {
	background-image: url(/images/feature-photos.png)
}