$color: red;
$main-body-color: green;
$main-block-color: red;
$alt-body-color: yellow;
body {
   // background:$color;
}

@for $index from 1 through 5 {
    .size-#{$index} {
        min-width: $index*50px;
        min-height: $index*50px;
    }
}

.base-font-property {
    color: $alt-body-color;
    font-size: 14px;
    margin: 10px auto 20px;
}

h1 {
    @extend .base-font-property;
    font-size: 36px;
}

h2 {
    @extend .base-font-property;
    font-size: 24px;
}
    
    


